<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<table style="width:45%">
<tr>
<th>Order ID</th>
<th>Order's Task</th>
<th>Order's Site</th>
<th>Order's Status</th>
<th>Order's Updated Date</th>
<th>Order's File</th>

</tr>
<tr>
<td><%= @order.id%></td>
<td><%= @order.task.task %></td>
<td><%= @order.site.site %></td>
<td><%= @order.status.status%></td>
<td><%= @order.updated_date%></td>

<!-- <td><%#= @order.updated_date.strftime("%m/%d/%Y at %I:%M:%S %p")%></td> -->
<%# binding.pry %>
</tr>
</table>
<p><a href="/orders/<%=@order.id%>/edit">Edit Order</a></p>
<p><a href="/orders">Show all My Orders</a></p>
<p><a href="/orders/new">Create New Work Order</a></p>
<p><a href="/logout">Log Out</a></p>
